@model QuanLyGiangDay.Models.TPhanCong

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sửa</h1>

<h4>TPhanCong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaPhanCong" />
            <div class="form-group">
                <label asp-for="MaMonHoc" class="control-label"></label>
                <select asp-for="MaMonHoc" class="form-control" asp-items="ViewBag.MaMonHoc"></select>
                <span asp-validation-for="MaMonHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaGiaoVien" class="control-label"></label>
                <select asp-for="MaGiaoVien" class="form-control" asp-items="ViewBag.MaGiaoVien"></select>
                <span asp-validation-for="MaGiaoVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLop" class="control-label"></label>
                <select asp-for="MaLop" class="form-control" asp-items="ViewBag.MaLop"></select>
                <span asp-validation-for="MaLop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HocKy" class="control-label"></label>
                <input asp-for="HocKy" class="form-control" />
                <span asp-validation-for="HocKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nam" class="control-label"></label>
                <input asp-for="Nam" class="form-control" />
                <span asp-validation-for="Nam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
